.AnimationError-appear{
    opacity: 0;
    transform: translateX(100%);
}
.AnimationError-appear-active{
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms linear;
}
/* .animationError-exit{
    opacity: 1;
    transform: translateX(0);
    transition: all 1500ms linear;
}
.animationError-exit-active{
    opacity: 0;
    transform: translateX(-100%);
} */